.product-main{
    position: relative;
    width: 80%;
    left:11%;
    z-index: 1;
    margin-top: 5%;
}
/* Media Quieries */
/* For Mobile */
@media (max-width:320px){


    .product-main {

        width: 97%;
        left: 2%;
        margin-top: 7%;
    }
}