
.div7{
    width: 90%;
    margin: auto;
    height: 70vh;
   background-color: a;
    display: grid;
    grid-template-rows: 9% 12% 72% ;
    grid-template-columns: 24.1% 24.1% 24.1% 24.1%;
    grid-gap: 1vw;
    
}
.cdiv1{background-color:a;grid-row: 1/1;grid-column: 1/5;font-size: 2.5vw;font-weight: bolder;font-family: 'Courier New', Courier, monospace;}
.cdiv2{background-color:crimson;grid-row: 2/3;grid-column: 1/2;}
.cdiv3{background-color:cyan;grid-row: 3/4;grid-column: 1/2;}

.cdiv4{background-color: crimson;grid-row: 2/3;grid-column: 2/3;color: royalblue;}
.cdiv5{background-color:cyan;grid-row: 3/4;grid-column: 2/3;}

.cdiv6{background-color: crimson;grid-row: 2/3;grid-column: 3/4;}
.cdiv7{background-color:cyan;grid-row: 3/4;grid-column: 3/4;}

.cdiv8{background-color: crimson;}
.cdiv9{background-color: cyan;}
