.Singleproductinfo{

    width: 100%;
    height: 157vh;
    position: relative;
    margin-top: 5%;
}
.productpage-div7{
    position: relative;
    left: 14%;
    background-color: #131921;
    width: 70%;
    height: 61%;
    color: white;
}

.productpage-div8{
    position: relative;
    top: 10%;
    left: 0%;
    height: 35%
}

/* Media Quieries */
/* For Tablet */
@media (max-width:768px){
    .productpage-div7 {
        top: 5%;
    }
    .Cartprdctpg-main-picdiv {
        width: 57%;
        height: 76%;
    }
    .Cartprdctpg-big-picdiv {
        left: 12%;
    }.Cartprdctpg-small-picdiv {
        left: 12%;
    }
}


/* Media Quieries */
/* For Mobile */
@media  (min-width:320px) and (max-width:425px){

    .productpage-div7 {
        left: 2%;
        width: 97%;
        height: 90%;
    }
    .Cartprdctpg-main-picdiv {
        width: 95%;
        height: 78%;    margin-left: 14%;
    }.Cartprdctpg-main-titldiv {
        width: 89%;
        height: 52%;
        left: 5%;
        top: 60%;
    }.Cartprdctpg-big-picdiv {
        left: 8%;
        width: 65%;
        height: 59%;
    
    }.Cartprdctpg-small-picdiv {
        width: 64%;
        height: 11%;
        left: 9%;
        top: 60%;
    }
    
    .prodpev-table {
        height: 59%;
        width: 52%;
    }.Cartprdctpg-buttons {
        width: 98%;
        height: 17%;}
        .discrip-div {
            overflow: scroll;    top: 111%;
        }

}